@{
  Layout = "_Layout";
}
<h1> Welcome to FaisCat's pizza Parlor!</h1>
<h2> (Guaranteed cat poop free, or your money 50% refunded!) </h2>

<div class="links">
  @Html.ActionLink("View Menu", "Index", "MenuItems")
</div>

<div class="links">
  @Html.ActionLink("Staff Only: edit the menu", "Create", "MenuItems")
</div>
